[Desktop Entry]
Version=1.0
Name=Chronicle
Comment=Host Behaviour Analysis & Activity Monitoring System
Exec=/opt/chronicle/chronicle
Icon=chronicle
Terminal=false
Type=Application
Categories=System;Security;Monitor;
Keywords=Security;eBPF;Monitor;Anomaly;Telemetry;Tracking;
StartupWMClass=Chronicle
StartupNotify=true
